.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 533px;
  height: 548.31px;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  gap: 64px;
  width: 540px;
  height: 447px;
  border: 2px solid #8227F1;
  border-radius: 32px;
}

.game_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 48px;
  width: 437px;
  height: 198.31px;
}

.label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.nick_input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-top: 6px;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 8px;
  width: 437px;
  height: 44px;
  border: 1px solid #8227F1;
  box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  background: transparent;
  color: rgb(248, 246, 255, 0.5);
  outline: none;

  &:hover{
    background: rgba(130, 39, 241, 0.04);
    box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.3);
    }
  &:focus{
    background: rgba(248, 247, 255, 0.04);
    color: #FFFFFF;
    border: 1px solid #F8F7FF;
    box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.3);
    }
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  &_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
  }
  &_input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    box-sizing: border-box;
    padding: 8px 16px;
    width: 85px;
    height: 44px;
    border: 1px solid #8227F1;
    background: transparent;
    color: rgb(248, 246, 255, 0.5);
    border-radius: 999px;
    text-align: center;
    box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.15);
    outline: none;

    &:hover{
      background: rgba(130, 39, 241, 0.04);
      box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.3);
    }
    &:focus{
      background: rgba(248, 247, 255, 0.04);
      color: #FFFFFF;
      border: 1px solid #F8F7FF;
      box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.3);
    }
  }

}
.game_start{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 437px;
  color: #F8F6FF;
  
  &_btn{
    height: 44px;
    box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
  }
}

.round_btn {
  width: 32px;
  height: 32px;
  box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.15);
}