.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;

  padding: 10px 16px;
  position: relative;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}