@import "../../styles/colors.scss";


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, $purple1 0%, $purple2 100%);
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $white;

  &:disabled{
    width: 78px;
    height: 78px;
    border-radius: 12px;
    color: rgba(248, 247, 255, 0.35);
    box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.3);
    background: $blue2;

    &:hover{
      cursor: auto;
      background: $blue2;
    }
  }
}


.button:hover{
  background: $purple1;
}
