.table {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 537px;
  height: auto;
  border: 2px solid #8227F1;
  filter: drop-shadow(0px 2px 9px rgba(255, 255, 255, 0.3));
  border-radius: 32px;
  color: #F8F7FF;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;

  &_main {
    display: flex;
    padding: 8px;
    justify-content: space-between;

    &_labels {
      display: flex;
      gap: 44px;
    }
  }
}

.new_game_btn {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 160px;
  height: 44px;
  background: linear-gradient(90deg, #5A21E0 0%, #8227F1 100%);
  box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

.break_line {
  width: 528px; 
  color: #F8F7FF; 
}

.border {
  &_top {
    border-top: 1px solid #F8F6FF;
  }
  &_bot{
    border-bottom: 1px solid #F8F6FF
  }
}

.games_none {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}